@font-face {
  font-display: swap;
  font-family: 'InterTight';
  src: url('../assets/fonts/InterTight-Light.woff') format('woff'),
  url('../assets/fonts/InterTight-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'InterTight';
  src: url('../assets/fonts/InterTight-Regular.woff') format('woff'),
  url('../assets/fonts/InterTight-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'InterTight';
  src: url('../assets/fonts/InterTight-Medium.woff') format('woff'),
  url('../assets/fonts/InterTight-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'InterTight';
  src: url('../assets/fonts/InterTight-Bold.woff') format('woff'),
  url('../assets/fonts/InterTight-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'InterTight';
  src: url('../assets/fonts/InterTight-SemiBold.woff') format('woff'),
  url('../assets/fonts/InterTight-SemiBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'InterTight';
  src: url('../assets/fonts/InterTight-Black.woff') format('woff'),
  url('../assets/fonts/InterTight-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
