.form-feedback {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 535px;

  @include r(1200) {
    gap: 10px;
    flex-direction: column;
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
  }

  &__input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
    padding: 10px 16px;
    background-color: $light;
    border-radius: 8px;

    input {
      width: 100%;
    }
  }
}
