// Colors
$light: #FFFFFF;
$primary: #555A65;
$dark: #2B2D33;
$green: #27AE60;
$green-dark: #237648;
$blue: #316EA0;
$blue-dark: #123049;
$gray: #F7F8FA;
$border: #D7DAE2;
$red: #C50707;

// Fonts
$font-main: 'InterTight', sans-serif;
