.features {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__head {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__element {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include r(1200) {
      gap: 30px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include r(1200) {
      display: flex;
      padding-bottom: 20px;
      max-width: 100%;
      overflow-x: auto;
      gap: 10px;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: $green;
    span {
      font-weight: 400;
      color: $dark;
    }
  }
  &__picture {
    display: flex;
    width: 100%;
    max-width: 320px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;

    @include r(1200) {
      height: 90px;
      width: 280px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top;
    }
  }

  &__text {
    max-width: 320px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $primary;
  }
}
